nav.navbar(role='navigation')
  .container
    .logoDiv.col-md-6.nav.navbar-nav.navbar-left
      a(href='/')
        h1 LOGOHEAD
    .div.col-md-6
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') LINK
        li
          a(href='/') LINK
        li
          button.btn.btn-default.btn-lg(type='button', data-toggle='modal', data-target='#myModal') LOG IN

