extends layout

block content
  section
      .container.sectionMain
        .container.sectionBody.col-md-6
          .col-md-12
            .textTitle
              h2 TITLE
          .col-md-12
            .textContainer
              p
                |dolor sit amet, consectetur adipisicing elit. Distinctio officiis culpa quisquam neque quod fuga consequuntur eaque et expedita unde sunt quibusdam inventore, doloremque repudiandae commodi, saepe consequatur eius similique velit natus. Ad sint nobis expedita dolorem magnam rerum, aspernatur corporis magni laudantium non quod sit illum eius quo asperiores delectus consequatur dicta molestiae tenetur. Ipsa saepe harum nulla. Repellendus accusantium est fuga, vitae ad quo tempore voluptates provident, exercitationem alias! Reiciendis aspernatur dicta accusamus mollitia velit, inventore ea qui molestiae. Repudiandae repellat alias dicta ullam architecto ratione amet, cumque ipsum, perspiciatis quaerat id laborum, dolorem ea et optio ducimus.
